
@model AMBOModels.Reports.ApprovalData
@using System.Data;
<div class="tab-pane active tabData" id="tabData">

    <table id="dtMonthlyAttReport" class="table table-bordered table-striped table-hover datatable dtMonthlyAttReport" style="width:100%">
        <thead>
            @{
                int count = 0;
                if (Model.Dt != null)
                {
                    <tr>
                        @foreach (var column in Model.Dt.Columns)
                        {
                            if (column.ToString() != "Id")
                            {
                                <th>@column</th>
                            }
                        }
                    </tr>
                }
                else
                {
                    <tr>
                        <th>&nbsp;</th>
                    </tr>
                }
            }
        </thead>
        <tbody>
            @{


                int count1 = 0;
                int Rowcount = 0;
                bool Flag = false;
                string Date = "";
                int newcount = 0;
                var _OrignalId = "";

                if (Model.Dt != null && Model.Dt.Rows.Count > 0)
                {

                    foreach (DataRow Data in Model.Dt.Rows)
                    {

                        <tr>
                            @foreach (DataColumn col in Model.Dt.Columns)
                            {
                                count1++;
                                if (col.ToString() != "Id")
                                {



                                    if ((Data[col].ToString() == "L"))
                                    {
                                        if (Model.ApprovalGrid != null)
                                        {
                                            if (Model.ApprovalGrid.Any(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])))
                                            {
                                                if (Model.ApprovalGrid.Where(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])).Any(x => x.AttendanceDates == col.ToString()))
                                                {
                                                    <td style="background-color:yellow;cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col] | @Model.ApprovalGrid.Where(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])).Where(x => x.AttendanceDates == col.ToString()).FirstOrDefault().NewAttendanceType</a></td>
                                                }
                                                else
                                                {
                                                    <td style="cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col]</a></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col]</a></td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col]</a></td>

                                        }

                                    }

                                    else if ((Data[col].ToString() == "W"))
                                    {
                                        if (Model.ApprovalGrid != null)
                                        {
                                            if (Model.ApprovalGrid.Any(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])))
                                            {
                                                if (Model.ApprovalGrid.Where(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])).Any(x => x.AttendanceDates == col.ToString()))
                                                {
                                                    <td style="background-color:yellow;cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col] | @Model.ApprovalGrid.Where(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])).Where(x => x.AttendanceDates == col.ToString()).FirstOrDefault().NewAttendanceType</a></td>
                                                }
                                                else
                                                {
                                                    <td style="cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col]</a></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col]</a></td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col]</a></td>

                                        }
                                    }
                                    else if ((Data[col].ToString() == "A"))
                                    {
                                        if (Model.ApprovalGrid != null)
                                        {
                                            if (Model.ApprovalGrid.Any(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])))
                                            {
                                                if (Model.ApprovalGrid.Where(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])).Any(x => x.AttendanceDates == col.ToString()))
                                                {
                                                    <td style="background-color:yellow;cursor:not-allowed;"> <a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col] | @Model.ApprovalGrid.Where(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])).Where(x => x.AttendanceDates == col.ToString()).FirstOrDefault().NewAttendanceType</a></td>
                                                    //if (@Model.ApprovalGrid.Where(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])).Where(x => x.AttendanceDates == col.ToString()).FirstOrDefault().NewAttendanceType == "L")
                                                    //{
                                                    //    var total = Convert.ToInt32(Model.Dt.Rows[newcount].ItemArray[16]) + Convert.ToInt32(1);
                                                    //    Data["Total"] = total.ToString();
                                                    //    var num = Convert.ToInt32(Model.Dt.Rows[newcount].ItemArray[13]) + Convert.ToInt32(1);

                                                    //    Model.Dt.Rows[newcount].SetField<string>(13, num.ToString());
                                                    //    //Model.Dt.Rows[newcount].ItemArray[16] = Convert.ToString(Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[16]) + 1);
                                                    //    //Model.Dt.Rows[newcount].ItemArray[15] = Convert.ToString(Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[15]) - 1);
                                                    //}
                                                }
                                                else
                                                {
                                                    <td style="cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col]</a></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col]</a></td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col]</a></td>

                                        }
                                    }
                                    else if ((Data[col].ToString() == "T/M"))
                                    {
                                        if (Model.ApprovalGrid != null)
                                        {
                                            if (Model.ApprovalGrid.Any(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])))
                                            {
                                                if (Model.ApprovalGrid.Where(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])).Any(x => x.AttendanceDates == col.ToString()))
                                                {
                                                    <td style="background-color:yellow;cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col] | @Model.ApprovalGrid.Where(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])).Where(x => x.AttendanceDates == col.ToString()).FirstOrDefault().NewAttendanceType</a></td>
                                                }
                                                else
                                                {
                                                    <td style="cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col]</a></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col]</a></td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col]</a></td>

                                        }
                                    }

                                    else if ((Data[col].ToString() == "P"))
                                    {
                                        if (Model.ApprovalGrid != null)
                                        {
                                            if (Model.ApprovalGrid.Any(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])))
                                            {
                                                if (Model.ApprovalGrid.Where(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])).Any(x => x.AttendanceDates == col.ToString()))
                                                {
                                                    <td style="background-color:yellow;cursor:not-allowed;"> <a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col] | @Model.ApprovalGrid.Where(x => x.SFAIds == Convert.ToInt64(Model.Dt.Rows[newcount].ItemArray[19])).Where(x => x.AttendanceDates == col.ToString()).FirstOrDefault().NewAttendanceType</a></td>
                                                }
                                                else
                                                {
                                                    <td style="cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col]</a></td>
                                                }
                                            }
                                            else
                                            {
                                                <td style="cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col]</a></td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="cursor:not-allowed;"><a style="pointer-events:none;" href="javascript:updatePresent('@Model.Dt.Rows[newcount].ItemArray[19]','@col','@Data[col]')">@Data[col]</a></td>

                                        }
                                    }
                                    else
                                    {
                                        <td> @Data[col] </td>
                                    }

                                }

                            }
                        </tr>
                        newcount++;
                    }


                    Rowcount++;

                }
                else
                {
                    <tr><td style="text-align:center">No Data Found</td></tr>
                }

            }
        </tbody>

    </table>
</div>




