@using AMBOWeb.Classes
@model AMBOModels.Reports.CompetitionDisplayReportFilters

@{
    var UserSession = Session["BaseSession"] as AMBOModels.UserValidation.BaseSession;
}

@section PageCSS
{
    <style>
        #filterBoxHeader:hover
        {
            cursor:pointer;
        }
        .select2-selection--multiple{
            height: 280px;
            overflow-y: auto;
        }
    </style>
    <link href="~/Content/plugins/datatables/css/responsive.dataTables.min.css" rel="stylesheet" />
}

@section PageJS
{
    <script src="~/Content/plugins/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/Content/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <script src="~/Content/plugins/BootStrapDatePicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript">
        function getBranchDD() {
            common.ajax_get("@Url.Action("GetBranches", "Common")", null, "#filterBox", function (branches) {
                $("#ddBranch").html("");
                $.each(branches, function (i, branch) {
                    $("#ddBranch").append($('<option></option>').val(branch.BranchId).html(branch.BranchCode + "-" + branch.BranchName));
                });
                var Branch = @Model.BranchId;
                if(Branch !=null && Branch !=0)
                {
                    $('#ddBranch').val(Branch).change();
                    $('#ddBranch').attr('readonly', 'readonly');
                }
                else
                    $('#ddBranch').val(null).change();
            }, function (output) {
                if (output.statusCode == 401 || output.status == 401) {
                    var response = $.parseJSON(output.responseText);

                    if (response.isRedirect) {
                        window.location.href = '../Login/Index';
                        return;
                    }
                }
                $("#ddBranch").html("");
            });
        }

        function getStateDD() {
            common.ajax_get("@Url.Action("GetStates", "Common")", null, "#filterBox", function (states) {
                $("#ddState").html("");
                $.each(states, function (i, state) {
                    $("#ddState").append($('<option></option>').val(state.ID).html(state.StateName));
                });
                $('#ddState').val(null).change();

            }, function (output) {
                if (output.statusCode == 401 || output.status == 401) {
                    var response = $.parseJSON(output.responseText);

                    if (response.isRedirect) {
                        window.location.href = '../Login/Index';
                        return;
                    }
                }
                $("#ddState").html("");
            });
        }

        function getProdCatDD() {
            common.ajax_get("@Url.Action("GetProductCategories", "Common")", null, "#filterBox", function (prodcats) {
                $("#ddProdCat").html("");
                $.each(prodcats, function (i, prodcat) {
                    $("#ddProdCat").append($('<option></option>').val(prodcat.ID).html(prodcat.CategoryName));
                });
                $('#ddProdCat').val(null).change();
            }, function (output) {
                if (output.statusCode == 401 || output.status == 401) {
                    var response = $.parseJSON(output.responseText);

                    if (response.isRedirect) {
                        window.location.href = '../Login/Index';
                        return;
                    }
                }
                $("#ddProdCat").html("");
            });
        }

        function getDivisionsDD() {
            common.ajax_get("@Url.Action("GetDivisions", "Common")", null, "#filterBox", function (divisions) {
                $(".ddSFADivision").html("");
                $.each(divisions, function (i, division) {
                    $(".ddSFADivision").append($('<option></option>').val(division.Id).html(division.DivisionName));
                });
                $('.ddSFADivision').val(null).change();
            }, function (output) {
                if (output.statusCode == 401 || output.status == 401) {
                    var response = $.parseJSON(output.responseText);

                    if (response.isRedirect) {
                        window.location.href = '../Login/Index';
                        return;
                    }
                }
                $(".ddSFADivision").html("");
            });
        }

        function getClassDD() {
            common.ajax_get("@Url.Action("GetDealerClassificationTypes", "Common")", null, "#filterBox", function (classes) {
                $("#ddDealerClass").html("");
                $.each(classes, function (i, _class) {
                    $("#ddDealerClass").append($('<option></option>').val(_class.ID).html(_class.ClassificationName));
                });
                $('#ddDealerClass').val(null).change();
            }, function (output) {
                if (output.statusCode == 401 || output.status == 401) {
                    var response = $.parseJSON(output.responseText);

                    if (response.isRedirect) {
                        window.location.href = '../Login/Index';
                        return;
                    }
                }
                $("#ddDealerClass").html("");
            });
        }

        function getSFADD() {
            common.ajax_get("@Url.Action("GetAllActiveSFA", "Common")", null, "#filterBox", function (sfa) {
                if (sfa.MessageCode == MessageCodes.Acceptable.Found) {
                    $("#ddSFA").html("");
                    var list = '';
                    var options = [];
                    for (var i = 0; i < sfa.Data.length; i++) {
                        list += '<option value="' + sfa.Data[i].SFAUserId + '">' + sfa.Data[i].SFAName + '</option>';
                    }
                    $("#ddSFA").html(list);
                }
                else
                    common.notify(sfa.Message);
            }, function (output) {
                if (output.statusCode == 401 || output.status == 401) {
                    var response = $.parseJSON(output.responseText);

                    if (response.isRedirect) {
                        window.location.href = '../Login/Index';
                        return;
                    }
                }
                $("#ddSFA").html("");
            });
        }

        function getDealersDD() {
            common.ajax_get("@Url.Action("GetAllActiveDealers", "Common")", null, "#filterBox", function (dealer) {
                if (dealer.MessageCode == MessageCodes.Acceptable.Found) {
                    $("#ddDealer").html('');
                    var list = '';
                    var options = [];
                    for (var i = 0; i < dealer.Data.length; i++) {
                        list += '<option value="' + dealer.Data[i].DealerId + '">' + dealer.Data[i].DealerName + '</option>';
                    }
                    $("#ddDealer").html(list);
                }
                else
                    common.notify(dealer.Message);
            }, function (output) {
                if (output.statusCode == 401 || output.status == 401) {
                    var response = $.parseJSON(output.responseText);

                    if (response.isRedirect) {
                        window.location.href = '../Login/Index';
                        return;
                    }
                }
                $("#ddDealer").html("");
            });
        }

        function getCompanyDD() {
            common.ajax_get("@Url.Action("GetActiveBrands", "Common")", null, "#filterBox", function (brand) {
                if (brand.MessageCode == MessageCodes.Acceptable.Found) {
                    $("#ddCompany").html("");
                    $.each(brand.Data, function (i, _brand) {
                        $("#ddCompany").append($('<option></option>').val(_brand.BrandId).html(_brand.BrandName));
                    });
                    //$('#ddCompany > option').prop("selected", true);
                }
                else
                    common.notify(brand.Message);
            }, function (output) {
                if (output.statusCode == 401 || output.status == 401) {
                    var response = $.parseJSON(output.responseText);

                    if (response.isRedirect) {
                        window.location.href = '../Login/Index';
                        return;
                    }
                }
                $("#ddCompany").html("");
            });
        }

        function linkBranchWithDealerAndSFA()
        {
            $("#ddBranch").on('change', function (e, data) {
                if (!($(this).val() == null || $(this).val() == undefined || $(this).val() == '0' || $(this).val() == ''))
                {
                    common.ajax_post("@Url.Action("GetDealersByBranch", "Common")", { branchId: $(this).val() }, '#filterBox',
                    function (output) {
                        $('#ddDealer').html('');
                        $.each(output, function (i) {
                            $('#ddDealer').append($('<option>', { value: output[i].ID }).text(output[i].DealerName));
                        });
                        $('#ddDealer').val(null).change();
                    },
                function (output) {
                    if (output.statusCode == 401 || output.status == 401) {
                        var response = $.parseJSON(output.responseText);

                        if (response.isRedirect) {
                            window.location.href = '../Login/Index';
                            return;
                        }
                    }
                    $('#ddDealer').html('');
                    common.notify('error', 'No dealer found for selected branch.');
                });

                    common.ajax_post("@Url.Action("GetSFAByBranch", "Common")", { branchId: $(this).val() }, '#filterBox',
                    function (output) {
                        $('#ddSFA').html('');
                        $.each(output, function (i) {
                            $('#ddSFA').append($('<option>', { value: output[i].EmployeeId }).text(output[i].SFAFullName));
                        });
                        $('#ddSFA').val(null).change();
                    },
                function (output) {
                    if (output.statusCode == 401 || output.status == 401) {
                        var response = $.parseJSON(output.responseText);

                        if (response.isRedirect) {
                            window.location.href = '../Login/Index';
                            return;
                        }
                    }
                    $('#ddSFA').html('');
                    common.notify('error', 'No SFA found for selected branch.');
                });

                }
            });
        }

        function init()
        {
            $('#ddBranch').select2({ placeholder: "---All Branches---" });
            $('#ddState').select2({ placeholder: "---All States---" });
            $('#ddSFA').select2({ placeholder: "---All SFA---" });
            $('#ddProdCat').select2({ placeholder: "---All Product Categories---" });
            $('#ddDealer').select2({ placeholder: "Select Dealer Names" });
            $('#ddCompany').select2({ placeholder: "Select Company Names" });
            $('#ddDealerClass').select2({ placeholder: "---All Dealer Classifications---" });
            $('#ddSFADivision').select2({ placeholder: "---All SFA Divisions---" });
            $('#txtFromDate').prop('data-inputmask', "'alias': 'dd/mm/yyyy'");
            $('#txtFromDate').prop('data-mask', '');
            $('#txtFromDate').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            $('#txtToDate').prop('data-inputmask', "'alias': 'dd/mm/yyyy'");
            $('#txtToDate').prop('data-mask', '');
            $('#txtToDate').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
            $('#txtFromDate').datepicker({
                autoclose: true,
                format: "dd/mm/yyyy",
            });
            $('#txtToDate').datepicker({
                autoclose: true,
                format: "dd/mm/yyyy"
            });
            $('body').on('click', '#collapseFilters', function (event) {
                event.preventDefault();
            });
        }

        function ValidateFilters()
        {
            var output = new Object();
            output.status = true;
            output.message = "";
            if($('#txtFromDate').val() == null || $('#txtFromDate').val() == undefined || $('#txtFromDate').val() == '')
            {
                output.status = false;
                output.message = "Please select From Date.";
                return output;
            }
            if ($('#txtToDate').val() == null || $('#txtToDate').val() == undefined || $('#txtToDate').val() == '') {
                output.status = false;
                output.message = "Please select To Date.";
                return output;
            }
            //if ($('#ddDealer').val() == null || $('#ddDealer').val() == undefined || $('#ddDealer').val() == '') {
            //    output.status = false;
            //    output.message = "Please select at least one dealer for generating report.";
            //    return output;
            //}
            //if ($('#ddCompany').val() == null || $('#ddCompany').val() == undefined || $('#ddCompany').val() == '') {
            //    output.status = false;
            //    output.message = "Please select at least one Company for generating report.";
            //    return output;
            //}
            if (!ValidateFromToDate()) {
                output.status = false;
                output.message = "To Date Can't be less than From Date";
                return output;
            }

            if (!ValidateCurrentDate()) {
                output.status = false;
                output.message = "From/To Date Can't be future Date  ";
                return output;
            }

            return output;
        }

        function ValidateDownloadFilter() {
            var result = ValidateFilters();
            if (!result.status) {
                common.notify('error', result.message);
                return false;
            }
        }

        function Search()
        {
            debugger;


            var result = ValidateFilters();
            if (result.status)
            {
                $('#filterBoxHeader').trigger('click');
                $('#divDataTable').removeClass('hidden');
                if ($.fn.dataTable.isDataTable('#dtCompetitionDisplayReport')) {
                    dtCompetitionDisplayReport.destroy();
                }
                dtCompetitionDisplayReport = $('#dtCompetitionDisplayReport').DataTable({
                    serverSide: true,
                    processing: true,
                    searching: false,
                    ordering: false,
                    sorting: false,
                    scrollX: true,
                    ajax: {
                        url: "@Url.Action("CompetitionDisplayReport", "Reports")",
                    type: 'POST',
                    data: function (d) {
                        d.FromDate = $('#txtFromDate').val();
                        d.ToDate = $('#txtToDate').val();
                        d.BranchId = $('#ddBranch').val();
                        d.StateId = $('#ddState').val();
                        d.SFAId = $('#ddSFA').val();
                        d.ProductCategoryId = $('#ddProdCat').val();
                        d.ClassificationId = $('#ddDealerClass').val();
                        d.DivisionId = $('#ddSFADivision').val();
                        d.DealerIds = $('#ddDealer').val();
                        d.CompanyIds = $('#ddCompany').val();
                    }
                },
                    language: {
                    search: "",
                    searchPlaceholder: "Type here for search...",
                    processing: "Please wait while we fetch data..."
                    },
                columns: [
                    { data: "ActualDate" },
                    { data: "BranchName" },
                    { data: "OutletName" },
                    { data: "City" },
                    { data: "Location" },
                    { data: "Channel" },
                    { data: "DealerState" },
                    { data: "MasterCode" },
                    { data: "DealerCode" },
                    { data: "DealerClass" },
                    { data: "Division" },
                    { data: "SFACode" },
                    { data: "SFAName" },
                    { data: "Brand" },
                    { data: "ProdCat" },
                    { data: "Model" },
                    { data: "Quantity" },
                ]
            });
            }
            else
            {
                common.notify('error', result.message);
            }
        }

        $(document).ready(function () {
            getBranchDD();
            getStateDD();
            getProdCatDD();
            getDivisionsDD();
            getClassDD();
            //getSFADD();
            getDealersDD();
            getCompanyDD();
            linkBranchWithDealerAndSFA();
            init();

            if ('@UserSession.RoleName' == 'RDI')
            {
                @Html.Raw("$('.text-blue.small.clearDD').css('display','none')");
            }
        });

    </script>
}

<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary box-solid" id="filterBox">
            <div class="box-header with-border text-center" id="filterBoxHeader" data-widget="collapse">
                <h3 class="box-title">Competition Display Report</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" id="collapseFilters">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
@using (Html.BeginForm("DownloadCompetitionDisplayReport", "Reports", FormMethod.Post, new { id = "formDownloadCompetitionDisplayReport" }))
{
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>From Date:</label>
                            <input type="text" class="form-control input-sm" autocomplete = "off" id="txtFromDate" placeholder="Select From Date" name="FromDate" />
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>To Date:</label>
                            <input type="text" class="form-control input-sm" autocomplete = "off" id="txtToDate" placeholder="Select To Date" name="ToDate"/>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        @Html.AmboDropdownFor(Model => Model.BranchId, "ddBranch", "Branch Name:", "ddBranch")
                    </div>
                    <div class="col-lg-3">
                        @Html.AmboDropdownFor(Model => Model.StateId, "ddState", "State:", "ddState")
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        @Html.AmboDropdownFor(Model => Model.SFAId, "ddSFA", "SFA Name:", "ddSFA")
                    </div>
                    <div class="col-lg-3">
                        @Html.AmboDropdownFor(Model => Model.ProductCategoryId, "ddProdCat", "Product Category:", "ddProdCat")
                    </div>
                    <div class="col-lg-3">
                        @Html.AmboDropdownFor(Model => Model.ClassificationId, "ddDealerClass", "Dealer Classification:", "ddDealerClass")
                    </div>
                    <div class="col-lg-3">
                        @Html.AmboDropdownFor(Model => Model.DivisionId, "ddSFADivision", "SFA Division:", "ddSFADivision")
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        @Html.AmboDropdownMultipleFor(Model => Model.DealerIds, "ddDealer", "Dealer Names:", "ddDealer")
                    </div>
                    <div class="col-lg-6">
                        @Html.AmboDropdownMultipleFor(Model => Model.CompanyIds, "ddCompany", "Company Names:", "ddCompany")
                    </div>
                </div>
                <div class="row" >
                    <div class="col-lg-6 col-lg-offset-4">
                        <button class="btn btn-flat btn-default" type="button" onclick="$(location).attr('href','@Url.Action("Index", "Dashboard")');"><i class="fa fa-mail-reply"></i> Exit</button>
                        <button class="btn btn-flat btn-primary" type="button" onclick="Search();"><i class="fa fa-search"></i> Search</button>
                        <button id="btnDownload" type="submit" class="btn btn-success btn-flat" onclick="return ValidateDownloadFilter();"><i class="fa fa-download"></i> Download to Excel</button>
                    </div>
                </div>
}
            </div>
        </div>
    </div>
</div>

<div class="row hidden" id="divDataTable">
    <div class="col-lg-12">
        <div class="box box-primary">
            <div class="box-body">
                @*<div class="row">
                    <div class="col-lg-12">*@
                        @*<div class="table-responsive">*@
                            <table id="dtCompetitionDisplayReport" class="table table-bordered table-striped nowrap reportstable">
                                <thead>
                                    <tr>
                                        <th>Actual Date</th>
                                        <th>Branch Name</th>
                                        <th>Outlet Name</th>
                                        <th>City</th>
                                        <th>Location</th>
                                        <th>Channel</th>
                                        <th>Dealer State</th>
                                        <th>Master Code</th>
                                        <th>Dealer Code</th>
                                        <th>Dealer Classification</th>
                                        <th>Division</th>
                                        <th>SFA Code</th>
                                        <th>SFA Name</th>
                                        <th>Brand</th>
                                        <th>Product Category</th>
                                        <th>Model</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        @*</div>*@
                    @*</div>
                </div>*@
            </div>
        </div>
    </div>
</div>