@model AMBOModels.UserManagement.UserUpdatePasswordModel


<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tabForm" data-toggle="tab">
                        @Html.Raw("<i class=\"fa fa-pencil\"></i> Change Password")
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tabForm">
                    @using (Html.BeginForm("ChangePassword", "Dashboard", FormMethod.Post, new { id = "formChangePassword" }))
                    {
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label">New Password <span class="text-danger">*</span></label><span class="text-danger">@Html.ValidationMessageFor(m => m.Password)</span>
                                    @Html.PasswordFor(m => m.Password, new { Id = "txtUserPassword", @placeholder = "Enter new password", @class = "form-control input-sm" })

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-6 col-md-6">
                                <div class="form-group">
                                    <label class="control-label ">Confirm Password <span class="text-danger">*</span></label><span class="text-danger">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { Id = "txtConfirmPassword", @placeholder = "Confirm password", @class = "form-control input-sm"})

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-offset-4 col-lg-4 col-md-4">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary" id="btnSubmit">Save</button>
                                    @Html.ActionLink("Cancel", "Index", new { }, new { @class = "btn btn-default" })
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
